.col-centered {
    float: none;
    margin: 0 auto;
}

.border-test {
    border-style: dotted;
    padding: 15px;
}

#oui {
    padding-bottom = "15";
}

.pb_custom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.problematique:focus {
    background: #132e46;
}

.tile {
    width: 120%;
    padding: 15px;
    margin-left: 1px;
    margin-right: 1px;
    border:solid; /* no info for size nor color yet */
    background: #f4f4f4;
    box-shadow: 0 0 0 8px #f7f7f7;
    border-radius:3px; /* prefix not needed anymore */
    text-align: justify;
}

#vis {
    display: inline-block;
    position: fixed;
    right: 100px;
    top: 100px;
    z-index: 1;
    margin-left: 0;
}

.middot {
    padding-top: 3px;
    padding-right: 10px;
}

.icon-envelope2 {
    padding-top: 5px;
    padding-right: 4px;
}

.tooltip {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    border-color: #212121;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 100%;
}

#sections {

    position: relative;
    display: inline-block;
    width: 80%;
    top: 0px;
    z-index: 90;
}

.step {
    margin-top: 100px;
    margin-bottom: 200px;
}

#context {
    width: 350px;
}

.target {
    opacity: 1;
}

.forget {
    opacity: 0.2;
}

#Auteur {
    box-shadow: 0 0 0 8px #3EAD4E;;
}
#legend{
    display: inline-block;
    position: fixed;
    right: 50px;
    top: 30px;
    z-index: 1;
    margin-left: 0;
}

#bg {
    background: #dfdedd;
    margin-top: -30px;
    margin-left: -70px;
    width: 28%;

}

h1 {
	font-family: Bitter;
	font-size: 30px;
	font-style: normal;
	font-variant: bold;
	font-weight: 700;
    margin-bottom : 0px;
}

.container-fullwidth.clearfix {
    padding-left : 70px !important;
    padding-right : 0px !important;
}

#intro {
    font-family: "Source Sans Pro";
    font-size: 14pt;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
}

.Accueil {
    height: 100vh;
    width: 100%;
}

.logo2 {
}

.fleche {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.contentDiv {
    background-color: #fdfdfe;
    height: 50vh;
    position: relative;
    width: 100%;
}

.slogan{
font-family: "Source Sans Pro";
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #888888;
    font-size: 25px;
    opacity: 1;
    visibility: visible;
}
#lienintro {
    color : #444444;
}
.number {
    font-family: 'Source Sans Pro';
    font-size: 68px;
    height: 50px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    /* border-bottom: 30px solid black; */
    margin: 0 0 0 -0.05em;
    color: black;
    position: relative;
}
.large {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    padding: 25px 0 0 0;
    margin: 0;
    color: black;
}
.number-block {
    position: relative;
    padding: 0;
    border-bottom: 20px solid #3EAD4E;
}