.col-centered {
    float: none;
    margin: 0 auto;
}

.border-test {
    border-style: dotted;
    padding: 15px;
}

#oui {
    padding-bottom = "15";
}

.pb_custom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.problematique:focus {
    background: #132e46;
}

.tile {
    padding-top: 20px;
    padding-bottom: 20px;
}

#vis {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 1;
    margin-left: 0;
}

.tooltip {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    border-color: #212121;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 100%;
}

#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 0px;
    z-index: 90;
}

.step {
    margin-bottom: 200px;
}
